:root {
    --green-color: #00D455;
    --dark-green: #00963c;
    --dark-gray: #202020;
    --light-grey: #b3b3b3;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.input_architectures {
    display: flex;
    flex-direction: column;
}

.input_architectures > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:40%;
    outline:none;
    box-shadow:0 0 0px 0px gray inset;
  }
  
  input[type='radio']:hover {
    box-shadow:0 0 2px 0px var(--dark-green) inset;
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    /* margin: 20% auto;     */
    border-radius:40%;    
  }
  input[type='radio']:checked:before {
    background:var(--green-color);
  }