:root {
    --dark-green: #00963c;
    --dark-gray: #423F3E;
    --white: #F7F7F7;
    --green-color: #00D455;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.input_architectures {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_architectures > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    column-gap: 5px;
    margin: 2px;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:40%;
    outline:none;
    box-shadow:0 0 0px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 2px 0px var(--dark-green) inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  border-radius:40%;    
}

input[type='radio']:checked:before {
  background:var(--green-color);
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.form {
    width: 50%;
    position: relative;
    height: 50%;
    overflow: hidden;
}

.form input {
    width: 250px;
    height: 100%;
    font-size: 16px;
    color: var(--dark-gray);
    padding-top: 30px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid var(--dark-gray);
}

.form label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--green-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content_input {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label_input .content_input,
.form input:valid + .label_input .content_input {
    transform: translateY(-150%);
    font-size: 14px;
    color: var(--green-color);
}

.form input:focus + .label_input::after,
.form input:valid + .label_input::after {
    transform: translateX(0%);
}

.exec_button {
    height: 40px;
    border-radius: 10px;
    border: none;
    background: var(--green-color);
    color: white;
    font-size: 16px;
    padding-inline: 30px;
    cursor: pointer;
}

.processes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    max-width: 600px;
    overflow-x: auto;
}

.processes p {
    background: var(--dark-gray);
    color: var(--white);
    text-align: center;
    width: 100px;
    padding: 7px;
    margin: 2px;
    border-radius: 10px;
}

#number_process, #time_process, #memory_size, #busy_memory, #size_process, #quantum, #total_time, h1, label {
    color: var(--dark-gray);
    background: transparent;
}